@import url('https://googleapis.com');
/* Import fonts */

:root {
    --primary-red: #EB4747;
    --primary-white: #EAEAEA;
    --bg-black: #161616;
    --second-black: #272727;
    --border-radius: 15px;
}

body {
    background-color: var(--bg-black);
    color: white;
    font-family: 'Ubuntu', sans-serif;

    margin: 25px;
}

h1,
h2,
h3 {
    font-weight: 300;
}

p {
    font-size: 50px;
    font-weight: 200;
}

a {
    color: white;
    text-decoration: none;
}



/* Universal nav bar */
header {
    padding: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 50px
}

nav a {
    color: var(--primary-white);
    text-decoration: none;
    font-size: 25px;

    &:hover {
        text-decoration: underline;
    }
}



/* Home Page */
.homePage main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px
}

.homePage #greeting h1 {
    font-size: 125px;
    margin: 0px;
}

.homePage #greeting #BigRedName {
    color: var(--primary-red);
    font-size: 225px;
}

.homePage h2 {
    text-align: center;
    font-size: 80px;
}

.homePage ul li {
    display: flex;

    & img {
        max-width: 550px;
        max-height: 300px;

        border-radius: var(--border-radius);
        padding: 20px;
        background-color: var(--second-black);
    }

    &>div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & * {
            margin: 5px;
        }

        &>p {
            font-size: 40px;
        }

        &>h3 {
            font-size: 50px;
        }

        &>time {
            font-size: 30px;
            opacity: 0.7;
        }

        &>a {
            padding: 20px;
            font-size: 30px;
            font-weight: 400;
            background-color: var(--second-black);
            border-radius: var(--border-radius);
            border: 3px solid var(--primary-red);

            &:hover {
                background-color: #494949;
            }
        }
    }
}

.homePage footer {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    & * {
        margin: 0px;
    }
}

.homePage footer h2 {
    text-align: center;
    font-size: 125px;
}

.homePage footer p {
    text-align: center;
    font-size: 70px;
}

.homePage footer a {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 400;
    background-color: var(--second-black);
    border-radius: var(--border-radius);
    border: 3px solid var(--primary-red);

    &:hover {
        background-color: #494949;
    }
}


/* About Me page */

.aboutMe h1,
.aboutMe h2 {
    font-size: 7rem;
}

.aboutMe p {
    font-size: 1.25rem;
}

.aboutMe #yearInReview h2,
.aboutMe #row4 h2 {
    text-align: right;
}

.aboutMe #aboutMeAndIndex {
    display: grid;
    grid-template: auto / 0.7fr 0.35fr;
    gap: 80px;
}

.aboutMe #aboutMeAndIndex article {
    font-size: 1rem;
}

.aboutMe #aboutMeAndIndex #index {
    color: white;
    display: flex;
    flex-direction: column;

    & h2 {
        font-size: 2.5rem;
    }

    & ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & li {
        display: flex;
        align-items: center;
        gap: 15px;

        & p {
            font-size: 1.25rem;
            margin: 0px;
        }

        & img {
            border-radius: var(--border-radius);
            background-color: var(--second-black);
        }
    }
}

.aboutMe #yearInReview .content {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 5%;

    & img {
        max-width: 100%;
    }

    & #yearInReviewText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        /* Why do I need a gap here, but not for the about me text... */

        & p {
            margin: 0px;
        }
    }
}

.aboutMe #awardsAndAchievements .content {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 25px;

    & .awardItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        padding: 20px;
        background-color: var(--second-black);
        border-radius: var(--border-radius);

        & h3 {
            font-weight: 500;
            font-size: 1.5rem;
            text-align: center;
        }

        & img {
            width: 100%;
        }

        & .awardPictures {
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            gap: 5px;
        }
    }
}

.aboutMe #certification .content {
    display: flex;
    gap: 5%;

    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--second-black);

    & img {
        aspect-ratio: 1/1;
        width: 30%;
        height: 30%;
    }

    & h3 {
        font-size: 3rem;

    }

    & ul {
        font-size: 2rem;
    }
}

.aboutMe #hobbies .content {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 5%;

    & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        padding: 20px;
        background-color: var(--second-black);
        border-radius: 15px;

        & h3 {
            font-weight: 500;
            font-size: 2rem;
            text-align: center;
            margin: 0px;
        }

        & img {
            width: 60%;
        }

        & p {
            font-size: 2rem;
            margin: 0px;
        }
    }
}



/* Resume */

.resume h1 {
    font-size: 8rem;
    font-weight: 400;
}

.resume #wholeResume {
    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 3px solid var(--primary-red);
    border-radius: var(--border-radius);
    padding: 25px;
}

.resume #header {
    display: flex;
    justify-content: space-between;

    & h2 {
        font-size: 7.25rem;
        font-weight: 800;
        margin: 0;
    }

    & #resumeTitle p {
        font-size: 4rem;
        margin: 0;
    }

    & #links {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .resumeLink p {
            font-weight: 600;
            font-size: 1.5rem;
            margin: 0;
        }

        & .resumeLink a {
            font-size: 1.35rem;
            font-weight: 200;
        }
    }
}

.resume .sectionHeader {
    font-weight: 800;
    font-size: 4.5rem;
    margin: 0;

    border-bottom: 10px solid var(--primary-white);
}

.resume section p {
    font-size: 1.75rem;
}

.resume section .resumeListName {
    font-weight: 500;
    list-style-type: none;
    margin-bottom: 0;
}

.resume section ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resume section li {
    font-size: 1.75rem;
    font-weight: 200;
    margin: 0;
}



/* Contact */

.contact main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1 {
    text-align: center;
    font-size: 8rem;
    margin: 0;
}

.contact #sendMeAMessage {
    text-align: center;
    font-size: 5rem;
    padding: 20px;
    border-radius: var(--border-radius);
    border: 4px solid var(--primary-red);
}

.contact form {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    width: 80%;
    row-gap: 50px;
    column-gap: 30px;

    & input {
        background: 0;
        border: 0;
        border-bottom: 2px solid var(--primary-red);

        text-indent: 10px;
        padding: 10px 0px;
        color: var(--primary-white)
    }

    & .contactInputField {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & #messageField {
        grid-column: span 2;
    }

    & button {
        place-self: end;
        grid-column: span 2;
        width: auto;
        padding: 20px 40px;
        color: var(--primary-white);


        background-color: var(--second-black);
        border: 3px solid var(--primary-red);
        border-radius: var(--border-radius);

        &:hover {
            background-color: #494949;
        }
    }
}

.contact footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact footer h2 {
    font-size: 5rem;
    text-align: center;
}

.contact footer ul {
    display: grid;
    place-content: center;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin: 0;

    & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: auto;
        margin: 0;

        & img {
            max-width: 6rem;
        }

        & a {
            font-size: 1.25rem;
        }
    }
}



/* Programming Case Study Page */

.programmingStudy #introLayout {
    display: grid;
    grid-template: 1fr/ 1fr 0.5fr;
    justify-content: space-between;
    gap: 7.5%;

    & #projectBrief {
        display: flex;
        flex-direction: column;
        width: auto;

        & p {
            font-size: 2.5rem;
        }
    }

    &>ul {
        display: flex;
        flex-direction: column;
        gap: 40px;

        border-left: 4px solid var(--primary-red);
        padding-left: 50px;

        & h2 {
            font-weight: 600;
            font-size: 2rem;
            margin: 0;
        }

        & p,
        &>li,
        & a {
            margin: 0;
            font-size: 2rem;
            list-style-type: none;
            overflow-wrap: anywhere;
        }
    }
}

.programmingStudy h1 {
    font-size: 8rem;
}

.programmingStudy h2 {
    font-size: 6rem;
    font-weight: 500;
}

.programmingStudy #caseStudyImages {
    display: flex;
    overflow-x: auto;

    & img {
        width: auto;
        object-fit: cover;
    }
}

.programmingStudy #techStack ul {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 3%;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

    & li {
        width: 100%;
        background-color: var(--second-black);
        border-radius: var(--border-radius);

        & h3 {
            font-size: 2rem;
            font-weight: 500;
            padding-left: 25px;
        }

        & figure {
            display: flex;
            align-items: center;
            justify-content: space-around;

            & img {
                flex: 1 1 auto;
                width: 70px;
            }
        }
    }
}

.programmingStudy #conceptsLearned ul {
    display: flex;
    flex-direction: column;
    gap: 150px;

    & li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;

        & img {
            aspect-ratio: 1/1;
            object-fit: contain;
            max-width: 30%;
        }

        & .CLTextContent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            & h3 {
                font-size: 4rem;
                font-weight: 600;
                margin: 0;
            }

            & p {
                font-size: 3rem;
                margin: 0;
            }
        }
    }
}

.programmingStudy #problemsAndSolutions>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0;
    font-size: 1.5rem;

    &>li {
        border-radius: var(--border-radius);
        background-color: var(--second-black);
        padding: 20px;

        & h3 {
            margin-top: 0;
            font-weight: 600;
        }

        & strong {
            font-weight: bold;
        }

        &>ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 10px;
        }
    }
}

.programmingStudy #habitsOfMind ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    gap: 5%;

    & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--second-black);
        border-radius: var(--border-radius);
        padding: 40px;
        width: 50%;

        & h3 {
            font-size: 4rem;
            font-weight: bold;
            margin: 0;
        }

        & p {
            font-size: 2rem;
        }
    }
}



/* Writing Case Studies */

.writingStudy main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.writingStudy h1 {
    align-self: flex-start;
    font-size: 8rem;
}

.writingStudy h2 {
    font-size: 6rem;
}

.writingStudy p,
.writingStudy li {
    font-size: 2rem;
}

.writingStudy #introLayout {
    display: grid;
    grid-template: 1fr/ 1fr 0.5fr;
    justify-content: space-between;
    gap: 7.5%;

    & #projectBrief {
        display: flex;
        flex-direction: column;
        width: auto;

        & p {
            font-size: 2.5rem;
        }
    }

    & aside {
        display: flex;
        flex-direction: column;
        gap: 40px;

        border-left: 4px solid var(--primary-red);
        padding-left: 50px;

        & h2 {
            font-weight: 600;
            font-size: 2rem;
            margin: 0;
        }

        & a {
            margin: 0;
            font-size: 2rem;
            overflow-wrap: anywhere;
        }
    }
}

.writingStudy .content {
    display: flex;
    align-items: flex-start;
    gap: 5%;

    & img {
        max-width: 50%;
        object-fit: contain;
    }

    &>ul {
        width: 50%;

        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}


.writingStudy #problemsAndSolutions img {
    order: 1;
}

.writingStudy img {
    width: 60%;
}

.writingStudy #habitsOfMind ul {
    list-style-type: circle;

    & h3 {
        margin: 0;
        font-weight: bold;
    }

    & p {
        margin: 0;
    }
}