@import url('https://googleapis.com');
/* Import fonts */

:root {
    --primary-red: #EB4747;
    --primary-white: #EAEAEA;
    --bg-black: #161616;
    --second-black: #272727;
    --border-radius: 15px;
}

html {
    margin: 0;
}

body {
    background-color: var(--bg-black);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

main {
    margin: 25px;
}

h1,
h2,
h3 {
    font-weight: 300;
}

p {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 200;
}

a {
    color: white;
    text-decoration: none;
}


/* Universal nav bar */
header {
    position: sticky;
    top: 0;
    background-color: var(--bg-black);
    z-index: 100;
    padding: 20px;
    border-bottom: 3px solid var(--primary-red);
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 50px
}

nav a {
    color: var(--primary-white);
    text-decoration: none;
    font-size: clamp(1rem, 5vw, 1.5rem);

    &:hover {
        text-decoration: underline;
    }
}



/* Home Page */
.homePage main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px
}

.homePage #greeting h1 {
    font-size: clamp(4rem, 8vw, 10rem);
    margin: 0px;
}

.homePage #greeting #BigRedName {
    color: var(--primary-red);
    font-size: clamp(10rem, 8vw, 16rem);
}

.homePage h2 {
    text-align: center;
    font-size: clamp(6rem, 5vw, 8rem);
}

.homePage #programmingCaseStudiesList,
.homePage #writingCaseStudiesList{
    position: relative;
    margin-bottom: 700px;

    & > section {
        position: absolute;
        background-color: var(--second-black);

    }
}

.homePage #bioShieldCard {
    top: 300px;
    left: 0;
    & .caseStudyContent {
        position: absolute;
        top: -10px;
        left: 75px;
    }
}
.homePage #lineRedirect {
    position: absolute;
    top: 500px;
    left: 18px; /* Circle radius - this element's padding */

    padding: 2px;
    border-radius: 50%;
    background-color: var(--primary-red);
}
.homePage #pawPalCard {
    top: 0;
    left: 0;
    & .caseStudyContent {
        position: absolute;
        top: -10px;
        left: 0;
    }
}
.homePage #EECUBudgetCalculatorCard {
    top: 0;
    left: 0;
    & .caseStudyContent {
        position: absolute;
        top: -10px;
        right: 75px;
    }
}
.homePage #researchPaperCard {
    top: 300px;
    right: 40px; /* Diameter of Circle; do this since posiitons based off top-right of svg */
    & .caseStudyContent {
        position: absolute;
        top: -10px;
        right: 75px;
    }
}
.homePage #CARTShowcaseReflectionCard {
    top: 600px;
    left: 0;
    & .caseStudyContent {
        position: absolute;
        top: -10px;
        left: 75px;
    }
}

.homePage .caseStudyContent.hidden {
    display: none;
} 

.homePage svg {
    position: absolute;
    --dimension: 40px;
    width: var(--dimension);
    height: var(--dimension);
    color: var(--primary-red);

    & circle {
        cx: calc(var(--dimension) / 2);
        cy: calc(var(--dimension) / 2);
        r: calc(var(--dimension) / 2);
        fill: var(--primary-red)
    }
}

.homePage .caseStudyContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;

    padding: 20px;
    background-color: var(--second-black);
    border-radius: var(--border-radius);

    & * {
        margin: 5px;
    }

    & img {
        max-width: 400px;
        max-height: 300px;

        border-radius: var(--border-radius);
        padding: 20px;
        background-color: var(--second-black);
    }

    &>p {
        font-size: clamp(2rem, 5vw, 3rem);
    }

    &>h3 {
        font-size: clamp(3rem, 5vw, 4rem);
    }

    &>button {
        padding: 20px;
        font-size: clamp(1rem, 5vw, 2rem);
        font-weight: 400;
        background-color: var(--second-black);
        border-radius: var(--border-radius);
        border: 3px solid var(--primary-red);
        color: var(--primary-white);

        &:hover {
            background-color: #494949;
        }

    }
}

.homePage dialog {
    width: 70%;
    height: 70%
}

.homePage dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    /* Adds a blur effect to the page background */
}

.homePage footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    & * {
        margin: 0px;
    }
}

.homePage footer h2 {
    text-align: center;
    font-size: clamp(5rem, 10vw, 8rem);
}

.homePage footer p {
    text-align: center;
    font-size: clamp(3rem, 5vw, 6rem);
}

.homePage footer a {
    text-align: center;
    padding: 20px;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 400;
    background-color: var(--second-black);
    border-radius: var(--border-radius);
    border: 3px solid var(--primary-red);

    &:hover {
        background-color: #494949;
    }
}


/* About Me page */

.aboutMe h1 {
    margin-top: 0;
}

.aboutMe h1,
.aboutMe h2 {
    font-size: clamp(4rem, 15vw, 7rem);
}

.aboutMe p {
    font-size: clamp(1.25rem, 5vw, 2.25rem);
}

.aboutMe #yearInReview h2,
.aboutMe #row4 h2 {
    text-align: right;
}

.aboutMe #aboutMeAndIndex {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(30px, 1fr));
    align-items: start;
    gap: 80px;
}

.aboutMe #aboutMeAndIndex article {
    font-size: clamp(2rem, 10vw, 5rem);
    grid-column: span 5;
}

.aboutMe #aboutMeAndIndex #index {
    color: white;
    display: flex;
    flex-direction: column;
    grid-column: span 3 / -1;
    margin-top: 30px;

    & h2 {
        font-size: clamp(3rem, 5vw, 4rem);
        margin: 0;
    }

    & ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & li {
        display: flex;
        align-items: center;
        gap: 15px;

        & p {
            font-size: clamp(1.5rem, 3vw, 2rem);
            margin: 0px;
        }

        & img {
            border-radius: var(--border-radius);
            background-color: var(--second-black);
        }
    }
}

.aboutMe #yearInReview .content {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(400px, 1fr));
    gap: 5%;

    & img {
        max-width: 100%;
    }

    & #yearInReviewText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        /* Why do I need a gap here, but not for the about me text... */

        & p {
            margin: 0px;
        }
    }
}

.aboutMe #awardsAndAchievements .content {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;

    & .awardItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        padding: 40px;
        background-color: var(--second-black);
        border-radius: var(--border-radius);

        & h3 {
            font-weight: bold;
            font-size: clamp(2rem, 10vw, 4rem);
            text-align: center;
        }

        & img {
            width: 100%;
            object-fit: cover;
        }

        & .awardPictures {
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            gap: 5px;
            width: 100%;
        }

        & p {
            font-size: clamp(2rem, 10vw, 3rem);
        }
    }
}

.aboutMe #certification .content {
    display: flex;
    align-items: flex-start;
    gap: clamp(10px, 5%, 50px);

    padding: 40px;
    border-radius: var(--border-radius);
    background-color: var(--second-black);

    & img {
        aspect-ratio: 1/1;
        width: 30%;
        height: 30%;
    }

    & h3 {
        font-size: clamp(1.5rem, 5vw, 5rem);
        margin-top: 0;
    }

    & ul {
        font-size: clamp(1.5rem, 5vw, 4rem);
    }
}

.aboutMe #hobbies .content {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(250px, 1fr));
    gap: 5%;
    padding-left: 0;
    margin-left: 0;

    & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        padding: 20px;
        background-color: var(--second-black);
        border-radius: 15px;

        & h3 {
            font-weight: 600;
            font-size: clamp(1.75rem, 5vw, 2.5rem);
            text-align: center;
            margin: 0px;
        }

        & img {
            width: 60%;
        }

        & p {
            font-size: clamp(1.75rem, 5vw, 2rem);
            margin: 0px;
        }
    }
}



/* Resume */

.resume h1 {
    font-size: 8rem;
    font-weight: 400;
}

.resume #wholeResume {
    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 3px solid var(--primary-red);
    border-radius: var(--border-radius);
    padding: 25px;
}

.resume #header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & h2 {
        font-size: clamp(6.5rem, 15vw, 12rem);
        font-weight: bold;
        margin: 0;
    }

    & #resumeTitle p {
        font-size: clamp(4rem, 10vw, 9rem);
        margin: 0;
    }

    & #links {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .resumeLink p {
            font-weight: 600;
            font-size: clamp(1.5rem, 5vw, 3.5rem);
            margin: 0;
        }

        & .resumeLink a {
            font-size: clamp(1.35rem, 5vw, 3.25rem);
            font-weight: 200;
        }
    }
}

.resume .sectionHeader {
    font-weight: bold;
    font-size: 4.5rem;
    margin: 0;

    border-bottom: 10px solid var(--primary-white);
}

.resume section p {
    font-size: 1.75rem;
}

.resume section .resumeListName {
    font-weight: 500;
    list-style-type: none;
    margin-bottom: 0;
}

.resume section ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resume section li {
    font-size: 1.75rem;
    font-weight: 200;
    margin: 0;
}



/* Contact */

.contact main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1 {
    text-align: center;
    font-size: clamp(6rem, 10vw, 12rem);
    margin: 0;
}

.contact #sendMeAMessage {
    text-align: center;
    font-size: clamp(3rem, 7vw, 7rem);
    padding: 30px;
    border-radius: var(--border-radius);
    border: clamp(3px, 5vw, 6px) solid var(--primary-red);
}

.contact form {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    row-gap: 50px;
    column-gap: 30px;
    width: 80%;

    & input {
        background: 0;
        border: 0;
        border-bottom: clamp(2px, 5vw, 4px) solid var(--primary-red);

        font-size: clamp(1.25rem, 5vw, 1.75rem);
        text-indent: 15px;
        padding: 10px 0px;
        color: var(--primary-white)
    }

    & label {
        font-size: clamp(1.25rem, 5vw, 2rem);
    }

    & .contactInputField {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & #messageField {
        grid-column: span 2;
    }

    & button {
        place-self: end;
        grid-column: span 2;
        padding: 20px;
        color: var(--primary-white);
        width: clamp(300px, 5vw, 700px);
        height: auto;
        font-size: clamp(2rem, 5vw, 3rem);


        background-color: var(--second-black);
        border: 3px solid var(--primary-red);
        border-radius: var(--border-radius);

        &:hover {
            background-color: #494949;
        }
    }
}

.contact footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact footer h2 {
    font-size: clamp(3rem, 5vw, 6rem);
    text-align: center;
}

.contact footer ul {
    display: grid;
    place-content: center;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin: 0;

    & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: auto;
        margin: 0;

        & img {
            max-width: 6rem;
        }

        & a {
            font-size: clamp(2rem, 5vw, 3rem);
            word-break: break-all;
        }
    }
}



/* Programming Case Study Page */

.programmingStudy main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.programmingStudy #introLayout {
    display: grid;
    grid-template: 1fr/ repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;

    gap: clamp(10px, 7.5%, 50px);

    & #projectBrief {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        width: auto;

        & p {
            font-size: clamp(2rem, 5vw, 5rem);
        }
    }

    &>ul {
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        gap: 60px;

        border-left: 6px solid var(--primary-red);
        padding-left: 50px;

        & h2 {
            font-weight: 600;
            font-size: clamp(1.25rem, 5vw, 2.5rem);
            margin: 0;
        }

        & p,
        &>li,
        & a {
            margin: 0;
            font-size: clamp(1rem, 5vw, 2.25rem);
            list-style-type: none;
            overflow-wrap: anywhere;
        }

        & ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

.programmingStudy h1 {
    font-size: clamp(6rem, 5vw, 15rem);
}

.programmingStudy h2 {
    font-size: clamp(4rem, 8vw, 8rem);
    font-weight: 500;
}

.programmingStudy #caseStudyImages {
    display: flex;
    overflow-x: auto;

    & img {
        width: auto;
        object-fit: cover;
    }
}

.programmingStudy #techStack ul {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(325px, 1fr));
    gap: clamp(20px, 5vw, 50px);
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

    & li {
        display: flex;
        flex-direction: column;

        background-color: var(--second-black);
        border-radius: var(--border-radius);
        padding: 20px;

        & h3 {
            font-size: clamp(3rem, 4vw, 6rem);
            font-weight: 500;
            padding-left: 25px;
        }

        & figure {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 50px;
            padding: auto;

            & img {
                flex: 0.2 1 200px;
                width: 200px;

                &[alt="Netlify logo"] {
                    flex: 1 1 100%;
                    width: 100%;
                    border-radius: var(--border-radius);
                    background-color: var(--primary-white);
                    padding: 20px;
                }
            }
        }
    }
}

.programmingStudy #conceptsLearned ul {
    display: flex;
    flex-direction: column;
    gap: clamp(50px, 5vw, 150px);
    padding-left: 0;
    margin-left: 0;

    & li {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: clamp(20px, 5vw, 50px);

        & img {
            aspect-ratio: 1/1;
            object-fit: contain;
            max-width: 30%;
            margin: 0 auto;
        }

        & .CLTextContent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            width: 60%;

            & h3 {
                font-size: clamp(2rem, 5vw, 8rem);
                font-weight: 600;
                margin: 0;
            }

            & p {
                font-size: clamp(2rem, 5vw, 3.5rem);
                margin: 0;
            }
        }
    }
}

.programmingStudy #problemsAndSolutions>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0;
    font-size: clamp(0.9rem, 5vw, 2.25rem);

    &>li {
        border-radius: var(--border-radius);
        background-color: var(--second-black);
        padding: 20px;

        & h3 {
            margin-top: 0;
            font-weight: 600;
        }

        & strong {
            font-weight: bold;
        }

        &>ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 10px;
        }
    }
}

.programmingStudy #habitsOfMind ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    gap: clamp(15px, 5%, 50px);

    & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--second-black);
        border-radius: var(--border-radius);
        padding: 40px;
        flex: 1 1 300px;
        width: 100%;

        & h3 {
            font-size: clamp(2rem, 5vw, 4.5rem);
            font-weight: bold;
            margin: 0;
        }

        & p {
            font-size: clamp(1rem, 5vw, 2.25rem);
        }
    }
}



/* Writing Case Studies */

.writingStudy main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.writingStudy section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.writingStudy h1 {
    font-size: clamp(6rem, 5vw, 15rem);
    align-self: flex-start;
}

.writingStudy h2 {
    font-size: clamp(4rem, 8vw, 8rem);
    font-weight: 500;
}

.writingStudy #problemsAndSolutions h2 {
    text-align: left;
    align-self: flex-end;
}

.writingStudy p,
.writingStudy li {
    font-size: clamp(1rem, 7vw, 2.25rem);
}

.writingStudy #introLayout {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    gap: 7.5%;

    & #projectBrief {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        width: auto;

        & p {
            font-size: 2.5rem;
        }
    }

    & aside {
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        gap: 40px;

        border-left: 6px solid var(--primary-red);
        padding-left: 50px;

        & h2 {
            font-weight: 600;
            font-size: 2rem;
            margin: 0;
        }

        & a {
            margin: 0;
            font-size: 2rem;
            overflow-wrap: anywhere;
        }
    }
}

.writingStudy .content {
    display: flex;
    align-items: flex-start;
    gap: clamp(10px, 5%, 50px);

    & img {
        max-width: 50%;
        object-fit: contain;
    }

    &>ul {
        width: 50%;

        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}


.writingStudy #problemsAndSolutions img {
    order: 1;
}

.writingStudy img {
    width: 60%;
}

.writingStudy #habitsOfMind ul {
    list-style-type: circle;

    & h3 {
        margin: 0;
        font-weight: bold;
    }

    & p {
        margin: 0;
    }
}







/* Necessary Media Queries (when the wrap refuses to abide... hopefully because I only want it to wrap when the content shrinks to a very certain point) */

@media screen and (max-width: 760px) {
    /* About Me */

    .aboutMe #certification .content {
        align-items: center;
        flex-direction: column;

        & img {
            flex: 1 1 100%;
            width: 100%;
        }
    }

    /* Contact pages */

    .contact form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Writing Case Studies */

    .writingStudy .content {
        flex-direction: column;
        align-items: center;
        gap: clamp(10px, 5%, 50px);

        & img {
            max-width: 100%;
            order: 1;
        }

        &>ul {
            width: 100%;
        }
    }
}